@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  @apply w-[90%] mx-auto
}

.services .slick-slide > div {
  @apply mx-2 md:mx-[10px] lg:mx-[15px] my-0
}
.services .slick-list {
  @apply  -mx-[10px] md:-mx-[15px] my-0
}
.slick-dots {
  color: blue;
}

.primaryBtn{
  @apply px-3 xxs:px-4 xs:px-6 py-2 xs:py-2.5 bg-gradient-to-r from-blue-500 to-green-500 text-white font-normal xxs:font-medium xs:font-semibold text-sm xs:text-base sm:text-lg rounded-full shadow-lg  flex w-fit
  outline-none hover:scale-105 focus:scale-105 active:scale-100 hover:from-blue-600 hover:to-green-600
}