@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  @apply w-[90%] mx-auto
}

.services .slick-slide > div {
  @apply mx-2 md:mx-[10px] lg:mx-[15px] my-0
}
.services .slick-list {
  @apply  -mx-[10px] md:-mx-[15px] my-0
}
.slick-dots {
  color: blue;
}